<section class="ms-section">
  <div class="ms-container">

    <div class="ms-about">

      <div class="ms-about__image">
        <img
          src="/assets/images/pani-gosia.jpg"
          alt="Małgorzata Bachanek – założycielka My School of English"
          loading="lazy"
        >
      </div>

      <div class="ms-about__content">

        <p class="ms-kicker">Poznaj panią Gosię</p>

        <h2>Szkoła z potrzeby serca</h2>

        <p>
          My School of English powstała w roku 2012 z potrzeby serca
          Małgorzaty Bachanek, doświadczonej lektorki języka angielskiego,
          miłośniczki i propagatorki kultury brytyjskiej.
        </p>

        <p>
          Misją szkoły jest uczyć poprzez doświadczanie, zabawę i zanurzenie
          w kontekście kulturowym, w myśl zasady Konfucjusza:
        </p>

        <blockquote>
          „Powiedz mi, a zapomnę. Pokaż mi, a zapamiętam.
          Pozwól mi zrobić, a zrozumiem”.
        </blockquote>

        <p>
          Kameralna atmosfera, indywidualne podejście i zróżnicowanie oferty
          przysparzają szkole słuchaczy zarówno wśród dzieci, jak i rodziców,
          kolegów i znajomych.
        </p>

        <p>
          To szkoła, o której każdy może śmiało powiedzieć:
          <em>„Moja szkoła angielskiego”</em>, a sama pani Gosia mówi:
          <em>„Moja duma, pasja, życie”.</em>
        </p>

        <a class="ms-button ms-button--outline" href="/kadra.html">
          Poznaj naszą kadrę
        </a>

      </div>

    </div>

  </div>
</section>

